body{
    background:linear-gradient(0.25turn, #5D85A6, #0E2C5E);
}

.navegacion{
    justify-content: space-between;
}


.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nombre edad dni motivo obrasocial extra";
}

.contenedoradmin{
    margin-left: 15%;
    margin-right: 15%;
    background-color: aliceblue;
}
.img{
    max-height: 2%;
    max-width: 2%;
}
.login{
    background-color: aliceblue;
    margin-left: 25%;
    margin-right: 25%;
}

.singin{
    margin: 7%;
}

.passlogin{
    margin-left: 15%;
    margin-right: 15%;
}

.modifpx{
    margin-bottom: 50%;
}


.maillogin{
    margin-left: 15%;
    margin-right: 15%;
}

.botonagregar{
    margin: 2% auto;
}
.conteo{
    margin: 8%;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.revealUp{
    animation: 2s anim-lineUp;
}
.revealUp2{
    animation: 4s anim-lineUp;
}
.revealUp3{
    animation: 5s anim-lineUp;
}


h1{
    color:aliceblue;
    height: 5%;
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: aliceblue;
    text-decoration: underline;
}

#busqueda{
    margin-right: 30%;
    margin-left: 30%;
}

.tablaspacientes{
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 10%;
    background-color: rgb(192, 211, 227);
}

.tablapaciente{
    background-color: aliceblue;

}
.tablapaciente2{
    background-color: rgb(207, 219, 229);

}

.section {
    height: 5%;
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.botonlogin{
    margin: auto;
    align-items: center;
}
.revealDown{
    width: 70%;
    
}